{% extends "admin/base.html.twig" %}
{% block title %}Sign up{% endblock %}
{% block body %}
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
                {{ form_rest(registrationForm) }} {# 👈 ajoute cette ligne ici #}


        <div class="row">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>

    {{ form_end(registrationForm) }}
    <br>
    <div class="row">
        <a href="{{path('app_login')}}" class="btn btn-secondary">Go to log in page </a>
    </div>

{% endblock %}
